check-out/src/main/mule/check-out.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fa4c031e-c811-4077-a46c-f86cb0c74748" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="check-outFlow" doc:id="c14c2929-8f6a-4926-887b-46029c7fedbf" >
		<http:listener doc:name="Listener" doc:id="bfc5ee84-a1f5-494f-b889-1e14fbe3a21c" config-ref="HTTP_Listener_config" path="/fetch"/>
		<ee:transform doc:name="Transform Message" doc:id="7264b22d-daa1-42b3-9b2c-d8d3a5881dcc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "welcome miracle"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cf0ac34b-9b5c-43e9-a4d7-3aeb03a6fdad" message="#[payload]"/>
	</flow>
</mule>
